@page "{id:int}"
@model Portal_Refeicoes.Pages.Departamentos.EditModel
@{
    ViewData["Title"] = "Editar Departamento";
}

<h1>Editar Departamento</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Departamento.Id" />
            <div class="form-group">
                <label asp-for="Departamento.Nome" class="control-label"></label>
                <input asp-for="Departamento.Nome" class="form-control" />
                <span asp-validation-for="Departamento.Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>