html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Adicione este código ao final do seu arquivo site.css */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 56px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 56px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
}

    .sidebar .nav-link .feather,
    .sidebar .nav-link i {
        margin-right: 8px;
        color: #727272;
        width: 16px;
        height: 16px;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link:hover i,
        .sidebar .nav-link.active .feather,
        .sidebar .nav-link.active i {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}